$primary: #006699;

.app-containter{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	padding: 15px;
	max-width: 400px;
}

.submit-btn{
	padding: 15px;
	margin: 15px;
}

.radu-arrived-btn{
	padding: 15px;
	margin: 15px;
}

.winner-message{
	padding: 15px;
	margin: 15px;	
}

.game-over-msg{
	margin: 15px;
	padding: 15px;
}